*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#app,
.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

pre {
    max-width: 810px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f8f8;
    overflow-x: auto;
}

label {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

/*
icon
*/

.icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    cursor: pointer;
    opacity: 0.8;
    overflow: hidden;
}

.icon:hover {
    opacity: 1;
}

.icon-info {
    background-image: url("./assets/images/info.svg");
}

.icon-menu {
    background-image: url("./assets/images/menu.svg");
}

.icon-close {
    background-image: url("./assets/images/close.svg");
}

.icon-github {
    background-image: url("./assets/images/github.svg");
}

.icon-setting {
    background-image: url("./assets/images/setting.svg");
}

.icon-double-up {
    background-image: url("./assets/images/double-up.svg");
}

.icon-up {
    background-image: url("./assets/images/up.svg");
}

.icon-double-down {
    background-image: url("./assets/images/double-down.svg");
}

.icon-down {
    background-image: url("./assets/images/down.svg");
}

/*
main
*/

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 5px 5px;
}

.controller {
    position: relative;
    flex-shrink: 0;
    max-height: 30%;
    overflow: hidden auto;

    > div {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        padding: 5px 0;

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
    }

    .controller-header {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .controller-title {
        display: flex;
        flex: auto;
        gap: 5px;
        align-items: center;
        font-weight: bold;

        span {
            color: gray;
            font-weight: normal;
            font-size: 12px;
        }
    }

    button {
        font-size: 12px;
    }
}

/*
    content-box fix autoHeight
*/
.grid-container {
    position: relative;
    flex: auto;
    box-sizing: content-box;
    border: 1px solid #999;
    overflow: hidden;
}

/*
log
*/
.log-container {
    width: 100%;
    height: 66px;
    border: 1px solid #999;
    overflow: hidden auto;

    .log-content {
        div {
            padding: 2px 5px;
            color: #000;
            font-size: 12px;

            span {
                color: gray;
                font-size: 12px;
                word-break: break-all;
            }
        }
    }
}

/*
grid
*/

@keyframes tg-blink-fade-in {
    from {
        background: gray;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tg-table {
    width: 100%;
    border-collapse: collapse;
}

.tg-table tr {
    border-bottom: 1px solid #ccc;
}

.tg-table tr:last-child {
    border-bottom: none;
}

.tg-table tr th {
    padding: 5px;
    text-align: left;
}

.tg-table tr td {
    padding: 5px;
}

.tg-table tr td label {
    margin-right: 10px;
}

.tg-table pre {
    margin: 0;
}

.tg-blink {
    animation-name: tg-blink-fade-in;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
