%cell {
    .tg-cell-hover-icon {
        display: none;
    }

    &.tg-touch-device .tg-cell-hover-icon {
        display: inherit;
    }

    .tg-cell-row-number {
        font-weight: normal;
    }

    .tg-cell-row-drag {
        .tg-row-drag-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            cursor: move;
            opacity: 0.8;
            transform: translate(-50%, -50%);
        }

        .tg-row-drag-icon:hover {
            opacity: 1;
        }
    }

    .tg-cell {
        position: absolute;
        z-index: 1;
        height: 100%;
        margin: 0;
        padding: 0 5px;
        color: #1e1e1e;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        overflow: hidden;

        &:focus {
            outline: none;
        }

        &.tg-flashing {
            border: 1px solid red !important;
        }

        &.tg-selected {
            background-color: beige;
        }

        &.tg-align-left {
            &.tg-cell-negative {
                padding-left: 1px;
            }
        }

        &.tg-align-right {
            &.tg-cell-negative {
                padding-right: 1px;
            }
        }

        &.tg-cell-observer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            line-height: normal;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;

            .tg-observer {
                position: relative;
                margin: 0;
                padding: 0;
                border: none;
            }
        }
    }
}
