%column-line {
    .tg-column-line {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: none;
        height: 100%;
        pointer-events: none;
    }

    .tg-column-line-item {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 0;
        height: 100%;
        border-left: thin solid #ccc;

        &.tg-active {
            border-left: thin solid #0077cf;
        }
    }

    .tg-column-dragging {
        cursor: ew-resize;

        .tg-column-name {
            cursor: ew-resize;
        }

        .tg-column-resizing:not(.tg-resizing-active) {
            display: none;
        }
    }
}
