%common {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial, sans-serif;
    outline: 0;
    overflow: hidden;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    &.tg-text-unselectable {
        user-select: none;
    }

    /* disabled all svg events */
    svg {
        display: block;
        pointer-events: none;
    }

    .tg-symbols {
        font-family: webdings, sans-serif;
    }

    .tg-nowrap {
        white-space: nowrap;
    }

    .tg-align-left {
        text-align: left;
    }

    .tg-align-center {
        text-align: center;
    }

    .tg-align-right {
        text-align: right;
    }
}
