%header {
    .tg-header {
        position: relative;
        width: 10000px;
        border-left: 0;
        overflow: hidden;
    }

    .tg-header-table {
        position: relative;
        color: #5e5e5e;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        border-bottom: thin solid #e5e5e5;
        overflow: hidden;
    }

    .tg-header-item {
        position: absolute;
        bottom: 0;
    }

    .tg-header-group-item {
        overflow: hidden;
    }

    .tg-header-group-item::after {
        position: absolute;
        left: 5px;
        bottom: 0;
        content: "";
        display: block;
        width: calc(100% - 10px);
        height: 1px;
        border-bottom: thin solid #ccc;
    }

    .tg-column-header {
        position: absolute;
        bottom: 0;
        overflow: hidden;

        .tg-column-name {
            padding: 10px 5px;
            text-overflow: ellipsis;
            overflow: hidden;

            &.tg-header-group-name {
                margin: 0 5px;
                padding: 5px 0;
            }
        }
    }

    .tg-column-resizing {
        position: absolute;
        top: 0;
        right: -5px;
        z-index: 100;
        width: 10px;
        height: 100%;
        background: #ccc;
        cursor: ew-resize;
        opacity: 0;
    }

    .tg-header-column-last {
        .tg-column-resizing {
            right: 0;
        }
    }
}
