%loading {
    @keyframes tg-loading-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .tg-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        display: none;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .tg-loading-default {
        width: 35px;
        height: 35px;
        color: #0077cf;
        animation: 1s tg-loading-animation linear infinite;
    }

    .tg-loading-fast {
        animation: 0.382s tg-loading-animation linear infinite;
    }
}
