%mask {
    .tg-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        display: none;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.1;
    }
}
