%tree {
    .tg-tree {
        position: relative;
        display: flex;
        flex-direction: row;
        place-items: center left;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .tg-tree-icon {
        position: relative;
        width: 15px;
        height: 100%;
        min-height: 9px;
        text-align: left;
        cursor: pointer;
        overflow: hidden;

        .tg-icon-tree {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 9px;
            height: 9px;
            transform: translate(0, -50%);
            overflow: hidden;
        }

        .tg-tree-item {
            display: none;
        }
    }

    .tg-tree-icon-collapsed .tg-tree-collapsed {
        display: block;
    }

    .tg-tree-icon-empty .tg-tree-collapsed {
        opacity: 0.5;
    }

    .tg-tree-icon-expanded .tg-tree-expanded {
        display: block;
    }

    .tg-tree-name {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tg-tree-header {
        .tg-tree {
            .tg-tree-icon {
                display: none;
            }
        }
    }

    .tg-tree-icon-all {
        position: relative;
        height: 17px;
    }

    .tg-tree-header-indent {
        .tg-tree {
            padding-left: 5px;

            .tg-tree-icon {
                display: block;
            }
        }

        &.tg-column-sort-h {
            .tg-column-sort {
                width: calc(100% - 20px);
                margin-left: 20px;
            }
        }
    }
}
